6-3_encoder_best.pth filter=lfs diff=lfs merge=lfs -text
6-3_decoder_best.pth filter=lfs diff=lfs merge=lfs -text
6-4_decoder_best.pth filter=lfs diff=lfs merge=lfs -text
6-4_encoder_best.pth filter=lfs diff=lfs merge=lfs -text
6-5_encoder_best.pth filter=lfs diff=lfs merge=lfs -text
6-5_decoder_best.pth filter=lfs diff=lfs merge=lfs -text
